body {
  background-color: #E1F5C4;
  margin-top: 5em;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
}

h5 {
  text-align: right;
}
